@use "../abstracts" as *;

#payment {
  font-size: 1rem;
  .title {
    font-family: $primary-font-stack;
    font-size: 2em;
    margin-block: 2em 1rem;
    margin-left: 7em;
  }
  .description {
    margin-bottom: 2rem;
  }
  .table-container {
    @include table-container;
  }
}
