@use "../abstracts" as *;

#header {
  font-family: $secondary-font-stack;
  margin-block: 24px;
  padding-inline: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .logo {
    @include media-query("l") {
      width: 140px;
    }
    @include media-query("md") {
      width: 140px;
    }
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-query("md") {
      order: 2;
    }
    .burger-icon {
      display: none;
      @include media-query("md") {
        display: none;
      }
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      z-index: 1000;
      @include media-query("l") {
        gap: 10px;
      }
      @include media-query("md") {
        top: 120%;
        left: 0;
        width: 100%;
        position: absolute;
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
        color: $blue;
        background-color: $white;
        box-shadow: 0 3px 10px rgba($black, 0.5);
        // backdrop-filter: blur(5px);
      }
      li {
        a {
          color: rgba($black, 0.6);
          padding: 5px 10px;
          @include on-event {
            color: dark-color($black, 10%);
          }
          @include media-query("md") {
            padding: 15px 10px;
            font-size: 16px;
            color: $blue;
            width: 100%;
            font-weight: bold;
            text-align: center;
            display: block;
            border-bottom: 1px solid currentColor;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 0%;
              height: 100%;
              background-color: rgba($blue, 0.1);
              transition: $delay;
              z-index: -1;
            }
            @include on-event {
              color: $blue;
              &::before {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .authentication {
    display: flex;
    gap: 10px;
    align-items: center;
    a {
      padding: 7px 15px;
      border-radius: 3px;
      @include media-query("l") {
        padding: 5px 10px;
      }
      &.login {
        background-color: rgba($blue, 0.1);
        color: dark-color($blue, 10%);
        @include on-event {
          background-color: rgba($blue, 0.2);
        }
      }
      &.signup {
        background-color: $blue;
        background-color: dark-color($blue, 5%);
        color: $white;
        @include on-event {
          background-color: dark-color($blue, 15%);
        }
      }
    }
  }
}
