@use "../abstracts" as *;

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 */
.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
/* Large */
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
/* Medium */
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
/* Small */
@media (max-width: 767px) {
  .container {
    max-width: 575px;
  }
}
/* Phone */
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

// Circular progress
.MuiCircularProgress-root {
  display: block !important;
  margin-inline: auto !important;
}
